.conteudo-interno-conta{
    width: 80vw;
    margin-top: 40px;
}
.conteudo-cardapio-conta{
    width: 100%;
    height: auto;
    background-color:rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 20px;
}
.conta{
    background-color: red;
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
}
.conta img{
    border-radius: 20px;
    margin-top:20px;
    width: 100%;
    height: auto;
}
.conta-in{
    margin-top:20px !important;
}
.col-sm-4 {
    text-align: center;
}